# Папки и файлы, которые нужно игнорировать
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyw
*.egg-info/
dist/
build/
.vscode/

# Игнорировать конфиденциальные данные
settings.ini

# Игнорировать виртуальное окружение Python
venv/
.env

# Игнорировать файлы логов
*.log